<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <link rel="stylesheet" type="text/css" href="../../css/style_custom.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="./Admin">Home</a></li>
        <li><a href="./Admin/user">Users</a></li>
        <li><a href="./Admin/roomType">RoomType</a></li>
        <li><a href="./Admin/Room">Rooms</a></li>
        <li><a href="./Admin/Booking">Bookings</a></li>
        <li><a href="./Admin/admin/">Admin</a></li>
      </ul>
    </div>
  </div>
</body>


<!-- table -->
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>BookingID</th>
          <th>Name</th>
          <!-- <th>TypeName</th> -->
          <th>Type Room</th>
          <th>RoomID</th>
          <th>date_checkin</th>
          <th>date_checkout</th>

          <th>Action</th>

        </tr>
      </thead>
      <tbody>


        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= i +1%></td>
                <td><%= data[i].Booking_id %></td>
                <td><%= data[i].User.Name %></td>
                <!-- <td><%= data[i].Type_Name %></td> -->
                <td><%= data[i].RoomType.Type_Name %></td>
                <td><%= data[i].Room_id %></td>
                <td><%= data[i].date_checkin %></td>
                <td><%= data[i].date_checkout %></td>

                
                <td>
                    <!-- <a href="./admin/<%= data[i].admin_id %>">View</a>
                    <a href="./admin/update/<%= data[i].admin_id %>">Edit</a>
                    <a href="./admin/delete/<%= data[i].admin_id %>">Delete</a> -->
                    <button onclick="location.href='./Booking/update/<%= data[i].Booking_id %>';">Edit</button>
                    <button onclick="location.href='./Booking/delete/<%= data[i].Booking_id %>';">Delect</button></td>
                </td>
            </tr>
            <% } %> 
        
    </table>
  <!-- ปุ่ม -->
  <div class="button-container">
    <button onclick="location.href='../../Admin/Booking/create';">Create</button>
    <button onclick="location.href='../Admin';">Back</button>
  </div>
</div>
</body>
</html>