<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../../../css/style_custom.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="../../../User">Home</a></li>
        <!-- <li><a href="*">Rooms</a></li> -->
        <li><a href="../../../User/Booking">Booking</a></li>
        <li><a href="../../../User/logout">Logout</a></li>

      </ul>
    </div>
  </div>
<!-- create -->
  <div class="form-container">
    <h1>EDIT  Booking</h1>
    <form method="post" action="./">

      <input type="hidden" id="*" name="Booking_id"  value="<%= data.Booking_id %>">
      <input type="hidden" id="*" name="User_id"  value="<%= data.User_id %>">
     
      <label for="*">User</label>
      <input type="*" id="*" disabled name="" value="<%= data.User.Name %>">

      
      <label for="*">Type Room</label>
      <select name="Type_id" id="">
        <% for (var i = 0; i < type_data.length; i++) { 
          var selected = (type_data[i].Type_id == data.Type_id ) ? "selected" : "";
          %>
          <option <%=selected %> value="<%= type_data[i].Type_id %>"><%= type_data[i].Type_Name %></option>
        <% } %>
      </select>
      <label for="*">RoomID</label>

      <select name="Room_id" id="">
        <% for (var i = 0; i < room_data.length; i++) { 
          var selected = (room_data[i].Room_id == data.Room_id ) ? "selected" : "";
          %>
          <option <%=selected %> value="<%= room_data[i].Room_id %>"><%= room_data[i].Room_id %></option>
        <% } %>
      </select>

     
      <label for="*">booking_quautity</label>
      <input type="*" id="*" name="booking_quautity" value="<%= data.booking_quautity %>">
      <label for="*">Date</label>
      <input type="date" id="*" name="date_checking" value="<%= data.date_checking %>">

      <label for="*"></label>

      <button type="submit" id="*">Save</button>

    </form>

  </div>
</body>
</html>