<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <link rel="stylesheet" type="text/css" href="../../css/style_custom.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="../../Admin">Home</a></li>
        <li><a href="../admin/user">Users</a></li>
        <li><a href="../admin/roomType">RoomType</a></li>
        <li><a href="./Room">Rooms</a></li>
        <li><a href="../admin/Booking">Bookings</a></li>
        <li><a href="/Admin/admin">Admin</a></li> 

      </ul>
    </div>
  </div>
</body>


<!-- table -->
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>RoomID</th>
          <th>TypeID</th>
          <!-- <th>TypeName</th> -->
          <th>Room quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>


        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= i +1%></td>
                <td><%= data[i].Room_id %></td>
                <td><%= data[i].Type_id %></td>
                <!-- <td><%= data[i].Type_Name %></td> -->
                <td><%= data[i].Room_quantity %></td>
                <td><%= data[i].price %></td>
                
                <td>
                    <!-- <a href="./admin/<%= data[i].admin_id %>">View</a>
                    <a href="./admin/update/<%= data[i].admin_id %>">Edit</a>
                    <a href="./admin/delete/<%= data[i].admin_id %>">Delete</a> -->
                    <button onclick="location.href='./Room/update/<%= data[i].Room_id %>';">Edit</button>
                    <button onclick="location.href='./Room/delete/<%= data[i].Room_id %>';">Delect</button></td>
                </td>
            </tr>
            <% } %> 
        <!-- Data -->
            <!-- <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
              <td>Data 4</td>
              <td>Data 5</td>
            <td>
                <button onclick="location.href='edit_admin.html';">Edit</button>
                <button onclick="location.href='edit_user.html';">Delect</button></td>
            </tr> -->
    </table>
  <!-- ปุ่ม -->
  <div class="button-container">
    <button onclick="location.href='./Room/create';">Create</button>
    <button onclick="location.href='../Admin';">Back</button>
  </div>
</div>
</body>
</html>