<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking hotel</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../../../css/style_custom.css">

</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <h1><span>🏬</span> Booking hotel</h1>
      </div>
      
      <ul class="menu">
        <li><a href="../../../Admin">Home</a></li>
        <li><a href="../../User">Users</a></li>
        <li><a href="../../roomType">RoomType</a></li>
        <li><a href="../../admin">Admin</a></li>
        <li><a href="../../Booking">Bookings</a></li>
        <li><a href="../../admin">Admin</a></li>
      </ul>
    </div>
  </div>
<!-- create -->
  <div class="form-container">
    <h1>EDIT ROOM TYPE </h1>
    <form method="post" action="./">

        <input type="hidden" id="*" name="Room_id"  value="<%= data.Room_id %>">
        <label for="*">Type Room</label>
        <select name="Type_id" id="">
          <% for (var i = 0; i < type_data.length; i++) { 
            var selected = (type_data[i].Type_id == data.Type_id ) ? "selected" : "";
            %>
            <option <%=selected %> value="<%= type_data[i].Type_id %>"><%= type_data[i].Type_Name %></option>
          <% } %>
        </select>
      <!-- <label for="*">Typeid</label>
      <input type="*" id="*" name="Type_id" value="<%= data.Type_id %>"> -->
      <label for="*">Roomquantity</label>
      <input type="*" id="*" name="Room_quantity" value="<%= data.Room_quantity %>">
      <label for="*">price</label>
      <input type="*" id="*" name="price" value="<%= data.price %>">
      <label for="*"></label>

      <button type="submit" id="*">Save</button>

    </form>

  </div>
</body>
</html>